.places__paragraph {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	gap: 26px;
	grid-area: text;
}

@media screen and (max-width: 1023px) {
	.places__paragraph {
		gap: 25px;
	}
}

/* TODO
на 767 улучшить адаптивность */