.places__title {
	margin: 0;
	grid-area: title;
	font-weight: 900;
	font-size: 72px;
	line-height: calc(76/72);
}

@media screen and (max-width: 1023px) {
	.places__title {
		max-width: 330px;
		font-size: calc(42px + (72 - 42 + 42 * 0.7) * ((100vw - 768px) / 1023));
		line-height: calc(46/42);
	}
}

@media screen and (max-width: 767px) {
	.places__title {
		max-width: 402px;
		padding: 0 16px;
		font-size: calc(32px + (42 - 32 + 32 * 0.7) * ((100vw - 320px) / 767));
		line-height: calc(35/32);
	}
}