.places__text {
	margin: 0;
	grid-area: text;
	font-weight: 400;
	font-size: 18px;
	line-height: calc(29/18);
	text-align: left;
}

@media screen and (max-width: 1279px) {
	.places__text {
		max-width: 456px;
	}
}

@media screen and (max-width: 1023px) {
	.places__text {
		max-width: 352px;
		font-size: 16px;
		line-height: calc(26/16);
	}
}

@media screen and (max-width: 767px) {
	.places__text {
		padding: 0 16px;
	}
}

@media screen and (max-width: 539px) {
	.places__text {
		max-width: 288px;
	}
}